{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": ["warn", "always"],
    "import/no-unresolved": ["error", { "commonjs": true }]
  }
}
